@charset "utf-8";
/* CSS Document */

/* 文字样式修改 */
body{font-family: microsoft yahei;font-size: 12px;color:#666;height: auto;}
a{color:#666;text-decoration: none;}

/* topbar */
.topbar{width: 100%;height: 28px;background: #F5F5F5;}
.topbar_in{width: 1000px;height: 28px;margin:0 auto;}
.guangdong{line-height: 28px;float: left;}
.bar_list{float: right;line-height: 28px;}
.bar_list li{float: left;padding-left: 14px;}
.bar_list li a{margin-right: 14px;}
.bar_list li span{display: inline-block;width: 5px;height: 8px;background: url(../images/header.png) no-repeat -140px -4px;}
.arrow::after{margin-left: 4px;content:"";width: 0;height: 0;border-top: 4px solid #9A9A9A;border-bottom: 4px solid transparent;border-right: 4px solid transparent;border-left: 4px solid transparent;display: inline-block;position: relative;top: 2px;}

.guangdong .arrow::after{margin-left: 23px;}
.topbar a:hover{color:#F10180;}
.topbar a:hover::after{border-top: 4px solid #F10180;transform:rotate(180deg);top: -2px;}
.bar_list li a.phone::before{content:"";display: inline-block;width: 10px;height: 14px;background: url(../images/header.png) no-repeat -100px -150px;position: relative;top: 2px;margin-right: 8px;}
.topbar a:hover::before{background-position-x:-125px !important;}

/* header */
.header{height: 100px;width: 1000px;margin:0 auto;overflow: hidden;}
.logo{background: url(../images/header.png) no-repeat right top;width: 120px;height: 48px;margin-top: 25px;float: left;}
.logo a{display: block;width: 100%;height: 48px;}
.header_r{float: right;padding-top: 30px;}
.header_r li{width: 114px;height: 40px;background: url(../images/header.png) no-repeat;float: left;margin-right: 12px;}
.header_r li:first-child{background-position:-150px -55px;}
.header_r li:nth-child(2){background-position:-150px -105px;}
.header_r li:nth-child(3){background-position:-150px -155px;margin-right: 25px;}
.header_r li:nth-child(4){background: none;padding-top: 11px;box-sizing:border-box;}
.header_r li:nth-child(4) a{display: inline-block;height: 21px;line-height: 21px;background: url(../images/header.png) no-repeat 19px -59px;padding-left: 53px;position: relative;}
.header_r li:nth-child(4)::before{content:"";width: 1px;height: 10px;background: #DCDCDC;display: inline-block;}
.header_r li:nth-child(4) a span{position: absolute;left: 25px;top: -10px;width: 24px;height: 16px;background: #F10180;color:#fff;line-height: 16px;text-align: center;border-radius:16px;}
.header_r li:nth-child(4) a:hover{color:#F10180;}

/* nav */
.nav{width: 100%;height: 40px;background: #F10180;}
.nav_in{width: 1000px;height: 40px;margin:0 auto;}
.nav_in ul{float: left;}
.nav_in ul li{float: left;padding:0 20px;height: 40px;line-height: 40px;cursor: pointer;}
.nav_in ul li a{color:#fff;font-size: 16px;font-weight: bold;}
.nav_in ul li.current{background: #BD1167;}
.nav_in ul li a::after{border-top: 4px solid #fff;}
.nav_in ul li:hover{background: #BD1167;}
.nav_in ul li:hover a::after{transform:rotate(180deg);top: -2px;}
.nav_in ul li:last-child{position: relative;}
.nav_in ul li:last-child .show{width: 594px;height: 260px;background: #fff;box-shadow:0 0 10px #000;position: absolute;right: 0;top: 40px;display: none;z-index: 2;}
.nav_in ul li:last-child:hover .show{display: block;}

.nav_in ol{float: right;}
.nav_in ol li{float: left;cursor: pointer;}
.nav_in ol li a{display: inline-block;width: 95px;height: 40px;line-height: 40px;padding-left: 19px;box-sizing:border-box;font-size: 16px;color:#fff;}
.nav_in ol li a i{margin-right: 5px;position: relative;top: 2px;}
.nav_in ol li:first-child::after{content:"";width: 1px;height: 14px;background: #BE1065;display: inline-block;position: relative;top: 2px;}
.nav_in ol li:hover{background: #BD1167;}
.nav_in ol:hover li::after{background: none;}

/* banner */
.banner{overflow: hidden;width: 100%;background: url(../images/banner_bg.jpg) no-repeat center top;height: 700px;position: relative;z-index: 1;}
.banner_in{width: 1140px;margin:0 auto;padding:12px;padding-bottom: 0;background: rgba(255,255,255,0.8);overflow: hidden;box-shadow:0 0 10px #000;margin-top: 31px;}
.banner_in img{display: block;}
.banner_in ul{width: 919px;margin:0 auto;height: 40px;}
.banner_in li{float: left;width: 25%;text-align: center;height: 40px;line-height: 40px;}
.banner_in li::after{content:"";width: 1px;height: 13px;background: #ECEAED;float: right;margin-top: 15px;}
.banner_in li:last-child::after{display: none;}

.banner .section{width: 229px;height: 3px;background: #F10180;position: absolute;left: 833px;bottom: 215px;}

.hot{width: 1170px;background: url(../images/hot.jpg);height: 180px;margin:39px auto 0;}
.hot ul{float: right;}
.hot li{float: left;margin-right: 20px;margin-top: 18px;position: relative;cursor: pointer;}
.hot li:last-child{margin-right: 30px;}
.hot li span{width: 48px;height: 48px;background: url(../images/icon.png) no-repeat;position: absolute;right: -20px;top: -18px;}
.hot li:nth-child(2) span{background-position:0 -48px;}
.hot li:nth-child(3) span{background-position:0 -96px;}

/* new */
.new{width: 1170px;margin:0 auto 35px;overflow: hidden;}
.new_tit{height: 50px;margin-top: 31px;margin-bottom: 15px;}
.new ul{overflow: hidden;}
.new li{float: left;width: 12.5%;text-align: center;color:#343631;font-size: 14px;}

.new_box{height: 366px;margin-top: 15px;}
.box_left{background: url(../images/new_clothes.jpg);width: 570px;height: 366px;float: left;}
.box_right{background: url(../images/new_beauty.jpg);width: 570px;height: 366px;float: right;}
.new_box ul{margin-top: 222px;}
.new_box li{width: 130px;height: 130px;background: #fff;padding-top: 23px;box-sizing:border-box;border-radius:5px;margin-left: 10px;}

/* today */
.today{width: 1170px;height: 874px;margin:0 auto;}
.today_box{margin-top: 36px;}
.today_box div{width: 570px;height: 350px;margin-bottom: 30px;}
.today_box .box1{float: left;background: url(../images/today1.jpg);}
.today_box .box2{float: right;background: url(../images/today2.jpg);}
.today_box .box3{float: left;background: url(../images/today1.jpg);}
.today_box .box4{float: right;background: url(../images/today2.jpg);}
.today_box .ad{width: 320px;height: 100px;border-radius:5px;background: rgba(255,255,255,0.8);text-align: center;overflow: hidden;margin:225px auto 0;}
.today_box .ad img{margin-top: 6px;}
.today_box .ad h4{font-weight: bold;color:#000;}

/* woman */
.woman{width: 1170px;height: 841px;margin:0 auto;}
.woman_tit{height: 43px;border-bottom: 1px solid #000;}
.woman_tit img{float: left;}
.woman_tit a{float: right;margin-top: 21px;}
.woman_tit a i{font-size: 14px;margin-left: 4px;}

.woman_con{border-bottom: 1px solid #ccc;overflow: hidden;margin-top: 20px;}
.woman_con .con1{background: url(../images/woman1.jpg);float: left;}
.woman_con .con2{background: url(../images/woman2.jpg);float: right;}
.woman_con .con3{background: url(../images/woman2.jpg);float: left;}
.woman_con .con4{background: url(../images/woman1.jpg);float: right;}
.woman_con .con{width: 570px;height: 332px;background-size:100% auto;background-repeat:no-repeat;background-color:#fff;}
.woman_con .con p{background: rgba(0,0,0,0.6);height: 30px;color:#fff;line-height: 30px;margin-top: 243px;}
.woman_con .con p::before{content:"";display: inline-block;width: 8px;height: 9px;background: url(../images/index_imgs.png) no-repeat;margin-left: 10px;margin-right: 6px;}
.dazhe{height: 48px;}
.dazhe span{float: left;color:#4E4E50;margin-left: 21px;line-height: 48px;}
.dazhe a{float: right;color:#4E4E50;margin-right: 21px;height: 48px;line-height: 48px;}
.dazhe span big{color:#F30483;font-weight: bold;font-size: 18px;}
.dazhe span u{text-decoration: none;margin-right: 14px;}
.dazhe a::before{content:"";display: inline-block;width: 16px;height: 16px;background: url(../images/index_imgs.png) no-repeat -50px 0;position: relative;top: 4px;margin-right: 6px;}

.woman_center{width: 324px;height: 44px;line-height: 44px;font-size: 14px;margin:0 auto;background: #F10180;color:#fff;text-align: center;border-radius:0 0 5px 5px;}
.woman_center i{margin-left: 10px;}

/* fashion */
.fashion{background: url(../images/fashion_bg.jpg);width: 100%;height: 410px;margin-bottom: 110px;position: relative;}
.fashion_peopel{background: url(../images/fashion_peopel.jpg);width: 672px;height: 410px;position: absolute;left: 50%;margin-left: -336px;top: 40px;}

.fashion_logo{width: 325px;height: 155px;background: rgba(0,0,0,0.6);text-align: center;color:#C39559;margin:235px auto 0;position: relative;}
.fashion_logo img{margin-top: 17px;margin-bottom: 17px;}
.fashion_logo div{color:#000;width: 188px;height: 30px;line-height: 30px;background: #C39559;margin:8px auto;cursor: pointer;}

.fashion_logo span{background: #AB8852;position: absolute;}
.fashion_logo .sp_left,.fashion_logo .sp_right{width: 1px;height: 149px;left: 3px;top: 3px;}
.fashion_logo .sp_top,.fashion_logo .sp_bottom{width: 319px;height: 1px;left: 3px;top: 3px;}

.fashion_logo .sp_right{right: 3px;left: auto;}
.fashion_logo .sp_bottom{bottom: 3px;top: auto;}

/* shoe */

.shoe .woman_con .con1{background: url(../images/shoes1.jpg);float: left;}
.shoe .woman_con .con2{background: url(../images/shoes2.jpg);float: right;}
.shoe .woman_con .con3{background: url(../images/shoes2.jpg);float: left;}
.shoe .woman_con .con4{background: url(../images/shoes1.jpg);float: right;}
.shoe .woman_con .con{width: 570px;height: 332px;background-size:100% auto;background-repeat:no-repeat;background-color:#fff;}

/* tomorrow */

.tomorrow{width: 1170px;margin:0 auto;overflow: hidden;padding-bottom: 76px;}
.tomorrow_tit{}
.tomorrow_box{margin-top: 22px;}
.tomorrow_box .box{margin-right: 30px;position: relative;width: 270px;height: 189px;float: left;cursor: pointer;}
.tomorrow_box .box.last{margin-right: 0;}

.tomorrow_box .box .box_img{height: 129px;background: url(../images/woman1.jpg);background-size:100% auto;overflow: hidden;}
.box_img p{background: rgba(0,0,0,0.6);height: 30px;color:#fff;line-height: 30px;margin-top: 103px;}
.box_img p::before{content:"";float: left;width: 8px;height: 9px;background: url(../images/index_imgs.png) no-repeat;margin-left: 10px;margin-right: 6px;margin-top: 10px;}
.box_img span{float: left;max-width:50%;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;}
.box_img p strong{float: right;margin-right: 5px;width: 89px;height: 20px;line-height: 20px;background: #fff;color:#5D5D5D;text-align: center;border-radius:20px;margin-top: 3px;display: none;}
.box_img p strong i{font-size: 12px;margin-right: 4px;color:#EC158A;}
.tomorrow_box .box:hover strong{display: block;}
.tomorrow_box .box strong:hover{background: #EC158A;color:#fff;}
.tomorrow_box .box strong:hover i{color:#fff;}
.zhuanchang{height: 25px;line-height: 25px;padding-left: 10px;}

.search{width: 215px;height: 23px;border: 1px solid #D2D2D2;border-radius:4px;display: none;margin-left: 5px;}
.search .txt{width: 143px;height: 23px;border: 0;float: left;text-indent:5px;}
.search .smt{width: 72px;height: 23px;float: right;border: 0;background: #fff url(../images/smt_bg.jpg) no-repeat left center;color:#50AFDD;}
.tomorrow_box .box:hover .search{display: block;}

.good{width: 140px;height: 40px;background: rgba(0,0,0,0.6);position: absolute;left: 65px;top: 40px;text-align: center;line-height: 40px;color:#fff;border-radius:3px;}

/* sidebar */
.sidebar{width: 76px;height: 454px;border: 1px solid #D6D6D6;border-radius:4px;padding: 4px;box-sizing:border-box;position: fixed;/*left: 138px;top: 400px;*/z-index: 5;background: #fff;left: 0;top: 0;}
.sidebar li{border-bottom: 1px solid #D6D6D6;height: 36px;line-height: 36px;text-align: center;cursor: pointer;}
.sidebar li.current{height: 38px;border-bottom: 0;background: #F10180;color:#fff;border-radius:4px;}
.sidebar li i{margin-right: 8px;}
.sidebar li.last{border-bottom: 0;}

/* footer */
.footer{width: 100%;height: 428px;background: #FCFCFC;border-top: 1px solid #EBEBEB;}
.footer_in{width: 960px;height: 428px;background: #ccf;margin:0 auto;}
.footer_in ul{padding-top: 30px;}
.footer_in li{width: 10%;float: left;text-align: center;}
.footer_in li div{width: 52px;height: 52px;background: url(../images/footer.jpg) no-repeat;margin:0 auto;}
.footer_in li:nth-of-type(1) div{ background-position:0 0; }
.footer_in li:nth-of-type(2) div{ background-position:0 -52px; }
.footer_in li:nth-of-type(3) div{ background-position:0 -104px; }
.footer_in li:nth-of-type(4) div{ background-position:0 -156px; }
.footer_in li:nth-of-type(5) div{ background-position:0 -208px; }
.footer_in li:nth-of-type(6) div{ background-position:0 -260px; }
.footer_in li:nth-of-type(7) div{ background-position:0 -312px; }
.footer_in li:nth-of-type(8) div{ background-position:0 -364px; }
.footer_in li:nth-of-type(9) div{ background-position:0 -416px; }
.footer_in li:nth-of-type(10) div{ background-position:0 -468px; }


dl{width: 144px;height: 146px;border-right: 1px solid #E0E0E0;float: left;padding-left: 17px;margin-top: 38px;}
dt{height: 21px;line-height: 21px;color:#4D4B4C;}
dd{height: 20px;line-height: 20px;}
dd a::before{content:"";width: 3px;height: 3px;background: #000;display: inline-block;position: relative;top: -3px;margin-right: 4px;}
dd:hover a{color:#D7237E;padding-left: 1px;}
dd:hover a::before{background: #D7237E;}
dl:last-child{border: 0;width: 120px;}
dl:last-child dd{height: auto;}

.footer_list{width: 100%;overflow: hidden;}
.about{width: 960px;height: 30px;line-height: 30px;background: #D7237E;text-align: center;margin-top: 25px;}
.about a{color:#fff;}




