.footer{ background:url("footer.jpg") top left no-repeat; }
.vip_r2_c20{ width:52px; height:52px; background-position:0 0; }
.vip_r2_c18{ width:52px; height:52px; background-position:0 -52px; }
.vip_r2_c16{ width:52px; height:52px; background-position:0 -104px; }
.vip_r2_c14{ width:52px; height:52px; background-position:0 -156px; }
.vip_r2_c12{ width:52px; height:52px; background-position:0 -208px; }
.vip_r2_c10{ width:52px; height:52px; background-position:0 -260px; }
.vip_r2_c8{ width:52px; height:52px; background-position:0 -312px; }
.vip_r2_c6{ width:52px; height:52px; background-position:0 -364px; }
.vip_r2_c4{ width:52px; height:52px; background-position:0 -416px; }
.vip_r2_c2{ width:52px; height:52px; background-position:0 -468px; }

